<div class="general-single-page-layout single-page-layout-one">

    <!-- // breadcrumb-wrapper -->
    <div class="single-page-wrapper">
        <div class="single-page-inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <div class="main-post-area-holder">
                            <article class="single-page-details-holder">
                                <div class="post-image rounded mx-auto d-block" style="width:400px">
                                    <img src={{datos.image}} alt="{{{datos.image_alt}}}"> 
                                </div>
                                <div class="single-page-other-information-holder">
                                    <div class="posted-category">
                                        <div class="post-meta-category">
                                            <span><a href="#">{{datos.tema}}</a></span>
                                        </div>
                                    </div>
                                    <div class="post-title">
                                        <h1>{{datos.title}}</h1>
                                    </div>
                                    <!-- // post-title -->
                                    <div class="post-extra-meta">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <div class="post-author">
                                                    <span><a href="#">{{metaTag.creator}}</a></span>
                                                </div>
                                            </div>
                                            <!-- // col -->
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <div class="posted-date">
                                                    <span><a href="#">{{formatDate datos.createdAt}}</a></span>
                                                </div>
                                            </div>
                                            <!-- // col -->
                                        </div>
                                        <!-- // row -->
                                    </div>
                                    <!-- // post-extra-meta -->
                                    <div class="post-the-content">
                                        {{{datos.description}}}
                                    </div>
                                    <!-- // post-the-content  -->
                                    <div class="post-share">
                                        <div class="share"></div>
                                    </div>
                                    <div class="tags-meta-and-others clearfix">

                                    </div>
                                </div>
                                <!-- // single-page-information-holder -->
                            </article>
                            <!-- relatedPost -->
                            <!-- // related-posts-wrapper -->
                            <!-- comments -->
                            <!-- // comment-area-wrapper -->
                        </div>
                        <!-- // main-post-area-holder-->
                    </div>
                    <!-- // col -->
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <aside class="sidebar">
                            <div class="sidebar-inner">
                                {{>aboutMe}}
                                {{>IamSocial}}


                                {{>facebook}}
                            </div>
                            <!-- // sidebar-inner -->
                        </aside>
                        <!-- // sidebar -->
                    </div>
                    <!-- // col -->
                </div>
                <!-- // row that divides left and right side-->
            </div>
            <!-- // container -->
        </div>
        <!-- // single-page-inner -->
        <div id="disqus_thread"></div>
        <div class="fb-comments" data-href="https://netzwerk.mx/blog/naranjas-para-tu-jefe-liderazgo-asertividad" data-width="" data-numposts="10"></div>
    </div>
    <!-- // single-page-wrapper -->
</div>

